


<html>

 <body>       

    <!-- <div>
        <app-header></app-header> 
    </div>
    <div>
        <app-sidenav></app-sidenav>
    </div> -->

        <div class="report-container">
            <div class="report-header">
                <div>
                    <h4> <a> New Lead</a> </h4>
                    <br>
                    
                </div>

                <div class="text">
                    <select>
                
                    <option value="All Policies">All Policies</option>
                    <option value="saab">Health</option>
                    <option value="opel">Documents</option>
                    <option value="audi">Library</option>
                </select>

                <select class="recent">
                    <option value="Recent">Recent</option>
                    <option value="saab">Health</option>
                    <option value="opel">Documents</option>
                    <option value="audi">Library</option>
                </select>

                <button type="button"> Qualified</button>
                <button type="button">Interested</button>
                <button type="text"><a routerLink="/multiform"> Add New Leads</a></button>
                </div>

         <br>       

<div>
    <app-view-leads></app-view-leads>

</div>

</div>
</div>


<!-- <div>
    <app-qualified></app-qualified>
</div> -->
    </body>
</html>
    


