.report-container {
    margin: 100px auto 0px auto;
    padding-left: 200px;
    align-items: center;
    margin-right: 100px;
    }
    td, th {
          border: 1px solid #4ca5dc;
          text-align: justify;
          padding: 10px;
          table-layout: fixed;
        }
        table{
            width:100%;
            border-collapse: collapse;
            border: rgb(124, 188, 248);
        }
        .recent{
            margin-left:40px;
        }
        button{
            margin-left:40px;
            color: rgb(59, 152, 240);

        }
        button:hover{
            color:rgb(124, 188, 248);
        }
