


<html>

 <body>       

    <!-- <div>
        <app-header></app-header> 
    </div>
    <div>
        <app-sidenav></app-sidenav>
    </div> -->

        <div class="report-container" style="display: block; background-color: transparent;">
            <div class="report-header">
                <div>
                    <h4> <a> New Lead</a> </h4>
                    <br>
                    
                </div>

                <div class="text" style="color: black;">
                    <select>
                
                    <option value="All Policies">All Policies</option>
                    <option value="saab">Health</option>
                    <option value="opel">Documents</option>
                    <option value="audi">Library</option>
                </select>

                <select class="recent" style="color: black;">
                    <option value="Recent">Recent</option>
                    <option value="saab">Health</option>
                    <option value="opel">Documents</option>
                    <option value="audi">Library</option>
                </select>

                <button type="button"  style="color: black;"> Qualified</button>
                <button type="button"  style="color: black;">Interested</button>


                <button type="text"><a routerLink="/multiform" style="color: black;margin-left: 100px;"> Add New Leads</a></button>
                </div>

         <br>       

<div>
    <app-view-leads></app-view-leads>

</div>

</div>
</div>


<!-- <div>
    <app-qualified></app-qualified>
</div> -->
    </body>
</html>
    


