


<div style="background-color: whitesmoke;padding-left: 150px; ">
       
    <i class="fa-solid fa-chevron-left" style="display: inline-block;margin-right: 12px;"></i>
  
    <h2 style="margin-top: 40px;"><a routerLink="/leads">< Quotation Summary</a> </h2>

    <div style="width:950px; height:270px;border-radius:15px;margin-top: 15px; background-color: white;">

       <div class="row" style="margin-left: 10px;">

        <div class="col">

          <p>Quotation Reference</p>

          <h5>GRH/3345</h5>

        </div>

        <div class="col-2">

          <p>Premium</p>

          <h5>$70 per week</h5>

        </div>


        <hr style="width: 97%;">

      </div><br />

      <div class="row" style="margin-left: 10px;">

        <div class="col">

          <p>Product</p>

          <h5>CG Protect</h5>

        </div>

        <div class="col-2">

          <p>Sum insured upto</p>

          <h5>$200,000</h5>

        </div>

      </div><br />

      <div class="row" style="margin-left: 10px;">

        <div class="col">

          <button type="button" style="color:black;background-color:white;border: 1px solid black;">VIEW

            BENIFITS</button>

        </div>

        <div class="col-2">

            <img src="../assets/images/share.jpg" width="30px" height="30px">
            <img src="../assets/images/blankIMG.png" width="32px" height="32px">
            <img src="../assets/images/whats.png" width="32px" height="32px">
        <!-- <mat-icon>share</mat-icon> -->
         </div>
       </div>
       </div>
  </div>
