
 form{
  background-color: #4276a4;
   margin-left:150px;
    width:950px;
    padding-top:0px;
    height: 90px;
    text-shadow: 0cap;
    font-size: 13px;

}


h1 {
  margin-left: 10px;
  padding-top: 100px;
  font-size: 20px;
  /* color: #121313; */
}

/* .step-label {
  color: white;
  margin-top: 10px;
  font-size: 14px;
} */


.error {
  border-color: rgb(249, 109, 109);
}


.smoke-toggle-group .smoke-toggle-button {
  height: 40px; 
  flex-grow: 1;
  margin-right: 10px; 
}


.smoke-toggle-group .smoke-toggle-button.mat-button-toggle-checked {
  background-color: skyblue;
  color: white;
}

.smoke-toggle-group .smoke-toggle-button {
  background-color: white;
  color: black;
}



.alcohol-toggle-group .alcohol-toggle-button {
  height: 40px; 
  flex-grow: 1;
  margin-right: 10px; 
}

.alcohol-toggle-group .alcohol-toggle-button.mat-button-toggle-checked {
  background-color: skyblue;
  color: white;
}

.alcohol-toggle-group .alcohol-toggle-button { 
  background-color: white;
  color: black;
}

/* .container {
  display: flex;
} */

.left-section {
  flex: 1;
  /* color: black; */
}

.right-section {
  display: flex;
  margin-left:900px;
}

.custom-stepper {

  background-color: transparent;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #f5f5f5; */
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
}

.upload-icon {
  position: relative;
  display: inline-block;
  /* font-size: 48px; */
  /* color: #aaa; */
}

.upload-text {
  font-size: 8px;
  margin-top: 10px;
}

.file-name {
  background-color: #bac6e4;
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #6990F2 ;
  border-radius: 10px;
}

.progress {
  height: 100%;
  background-color: #f2f2f2; 
  border-radius: 10px;
  position: relative;
}

.file-info {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  font-size: 8px;
}

.progress-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding-right: 10px;
  /* color: #f2f2f2; */
  font-weight: bold;
}

.percentage {
  margin-right: 10px;
  font-size: 8px;
}

.time {
  font-size: 8px;
}


/* .progress-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(5, 27, 36);
  height: 4px;
  margin-top: 16px;
}

.progress-step {
  flex-grow: 1;
  height: 100%;
  background-color: rgb(105, 18, 211);
  transition: background-color 0.3s;
} */

/* .progress-step.active {
  background-color: royalblue;
} */


/* .custom-stepper {
  background-color: skyblue;
}

.custom-stepper mat-step-header {
  background-color: white;
}

.custom-stepper mat-step-header.mat-step-header-selected {
  background-color: royalblue;
}

.custom-stepper mat-step-header.mat-step-header-completed {
  background-color: royalblue;
}




container {
  width: 400px;
  margin: 0 auto;
 }
 
 .upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border: 2px dashed #ccc;
 }
 
 .upload-icon {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
 }
 
 .upload-icon img {
  width: 80px;
  height: 80px;
  cursor: pointer;
 }
 
 .progress-bar {
  width: 100%;
  height: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
 }
 
 .progress {
  height: 100%;
  background-color: #6990F2;
  border-radius: 10px;
  position: relative;
 }
 
 .file-info {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  font-weight: bold;
 }
 
 .progress-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding-right: 10px;
  color: #fff;
  font-weight: bold;
 }
 
 .percentage {
  margin-right: 10px;
 }
 
 .time {
  font-size: 12px;
 } */