<!-- <div class="login-container" *ngIf="showLogin"> -->

    <!-- <div class="login-container">
        <h2>Login</h2>
        <form (ngSubmit)="login()">
          <input type="text" placeholder="Username" [(ngModel)]="username" name="username" required>
          <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
          <button type="submit" [disabled]="!isValidForm()">Login</button>
        </form>
        <p *ngIf="error">{{ error }}</p>
      </div> -->
      
<!-- </div> -->



<!-- login.component.html -->
<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required [(ngModel)]="username">
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required [(ngModel)]="password">
      </div>
      <div *ngIf="error" class="error-message">{{ error }}</div>
      <button type="submit" [disabled]="!loginForm.form.valid">Login</button>
    </form>
    <div *ngIf="!error">User doesn't exist? <a routerLink="/signup">Sign up</a></div>
  </div>
  