<!-- <div class="quotation-container">
    Quotation Details
    <div class="quotation-details">
      <h2>Quotation Details</h2>
      <p><strong>Quotation Reference:</strong> {{ quotationReference }}</p>
      <p><strong>Premium Amount per Week:</strong> {{ premiumAmount }}</p>
      <p><strong>Product Type:</strong> {{ productType }}</p>
      <p><strong>Sum Insured up to:</strong> {{ sumInsured }}</p>
    </div>
  
    Application Details
    <div class="application-details">
      <h2>Application Details</h2>
      <p><strong>Person Name:</strong> {{ basicForm.name }}</p>
      <p><strong>Address:</strong> {{ basicForm.address }}</p>
      <p><strong>Email:</strong> {{ basicForm.email }}</p>
      <p><strong>Phone Number:</strong> {{ basicForm.phoneNumber }}</p>
      <p><strong>Gender:</strong> {{ basicForm.gender }}</p>
      <p><strong>Age:</strong> {{ personalDetails.age }}</p>
    </div>
  </div>
  
  



 -->
